<ion-buttons>
  <!-- Back Button -->
 <ion-button fill="clear" (click)="goBack()">
  <ion-icon color="secondary" slot="icon-only" name="arrow-back-outline"></ion-icon>
</ion-button>
<ion-title></ion-title>
</ion-buttons>

<ion-content class="pomodoro-background">
  <div class="tomato-circle-wrapper">
    <img src="assets/pomodoro.png" class="tomato-center-image" />
    <!-- Timer Circle -->
    <div class="tomato-timer">
      <svg viewBox="0 0 100 100" class="progress-ring">
        <circle class="background-ring" cx="50" cy="50" r="45" />
        <circle
          class="progress-ring-circle"
          [attr.stroke-dasharray]="circumference"
          [attr.stroke-dashoffset]="progressOffset"
          cx="50"
          cy="50"
          r="45"
        />
      </svg>
      <div class="timer-text">
        {{ formatTime(timeLeft) }}
        <div class="session-type">{{ sessionType }}</div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="icon-buttons">
      <ion-button fill="clear" size="small" (click)="toggleTimer()">
        <ion-icon [name]="isRunning ? 'pause' : 'play'" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" color="danger" (click)="resetTimer()">
        <ion-icon name="stop" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
