.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  h3 {
    font-size: 3em;
    margin: 10px;
  }
  
  .session-counter {
    margin-top: 20px;
  }
 