<ion-header>
  <ion-toolbar>
    <ion-title>Planner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Select Date</ion-label>
    <ion-datetime
  [(ngModel)]="selectedDate"
  (ionChange)="onDateChange($event)"
  [min]="minDate"
  [max]="maxDate"
  display-format="YYYY-MM-DD"
  picker-format="YYYY-MM-DD"
  presentation="date"
  [highlightedDates]="highlightedDatesFunc">
</ion-datetime>

  </ion-item>

  <div *ngIf="eventsForSelectedDate.length > 0">
    <h3>Events for {{ selectedDate | date: 'fullDate' }}:</h3>
    <ion-list>
      <ion-item *ngFor="let event of eventsForSelectedDate">
        <ion-label>
          {{ event }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="eventsForSelectedDate.length === 0">
    <p>No events for this date.</p>
  </div>

  <!-- New event section -->
  <ion-item class="event description">
    <ion-label position="floating">New Event</ion-label>
    <ion-input [(ngModel)]="newEvent" placeholder="Enter event details"></ion-input>
  </ion-item>

  <ion-button shape="round" expand="full" (click)="addEvent()">Add Event</ion-button>
</ion-content>
