<!-- Screen header-->
<ion-header>
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
    <ion-button shape="round" color="primary" (click)="clearStats()" slot="end">
      <a class="clear-list-button">Clear</a>
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- Retrieves the icon and backgorund of each quiz-->
<ion-content class="ion-padding">
  <ion-list *ngIf="stats && statsKeys.length > 0; else noStats">
    <ion-item lines="none" *ngFor="let key of statsKeys">
      <ion-avatar slot="start" [ngStyle]="getAvatarStyle(stats[key].backgroundImage)">
        <ion-icon
          [name]="getIconByBackground(stats[key].backgroundImage)"
          class="habit-icon"
        ></ion-icon>
      </ion-avatar>
      
<!-- Shows completed percentage-->
      <ion-label>
        <h2>{{ key }}</h2>
        <p>Completed {{ stats[key].highestScore }} / {{ stats[key].totalQuestions }}</p>
      </ion-label>

      <div class="circle-container" slot="end">
        <circle-progress
          [percent]="getProgressPercent(stats[key].highestScore, stats[key].totalQuestions)"
          [showTitle]="false"
          [responsive]="false"
          [renderOnClick]="false"
        ></circle-progress>
      </div>
    </ion-item>
  </ion-list>
<!-- Default message for no results of statistics saved-->
  <ng-template #noStats>
    <p>No statistics available for this user.</p>
  </ng-template>
</ion-content>
