<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <!-- Back Button -->
     <ion-button fill="clear" (click)="goBack()">
      <ion-icon color="primary" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>My Flashcards</ion-title>
  </ion-buttons>
  
 
    <ion-buttons slot="end">
      <!-- Toggle Delete Mode -->
      <ion-button (click)="toggleDeleteMode()">
        <ion-icon [name]="deleteMode ? 'close-circle-outline' : 'trash-outline'" slot="icon-only"></ion-icon>
      </ion-button>
   
      <!-- Add New Set (Only if not deleting) -->
      <ion-button *ngIf="!deleteMode" routerLink="/flashcard-creator">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Flashcard Set List -->
  <ng-container *ngIf="flashcardSets.length > 0; else noFlashcards">
    <ion-card 
  *ngFor="let set of flashcardSets" 
  (click)="viewSet(set.id)"
  [ngStyle]="{'background-image': 'url(' + set.backgroundImage + ')', 'background-size': 'cover'}">

      <ion-item lines="none">
        <!-- Checkbox in Delete Mode -->
        <ion-checkbox
          *ngIf="deleteMode"
          slot="start"
          [(ngModel)]="set.selected">
        </ion-checkbox>

        <!-- Set Info -->
        <ion-label>
          <h2>{{ set.title || 'Untitled Set' }}</h2>
          <p>{{ set.cards?.length || 0 }} card(s)</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>

  <!-- Delete Button (shows only if one or more sets are selected) -->
  <ion-button
  expand="block"
  color="danger"
  shape="round"
  *ngIf="deleteMode && hasSelectedSets()"
  (click)="deleteSelectedSets()">
  Delete Selected
</ion-button>


  <!-- No Flashcards Template -->
  <ng-template #noFlashcards>
    <ion-text color="medium">
      <p class="ion-padding">No flashcard sets found. Tap + to create one!</p>
    </ion-text>
  </ng-template>
</ion-content>
