<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Flashcards</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="flashcard-container">
    <!-- Flashcard -->
    <ion-card *ngIf="currentCard">
      <ion-card-content (click)="flipCard()">
        <div class="flash-card" [ngClass]="{'flipped': flipped}">
          <div class="flipper">
            <div class="front">
              <img *ngIf="currentCard.questionImageUrl" [src]="currentCard.questionImageUrl" class="flashcard-image" />
              <h2 *ngIf="currentCard.question">{{ currentCard.question }}</h2>
            </div>
            
            <div class="back">
              <img *ngIf="currentCard.answerImageUrl" [src]="currentCard.answerImageUrl" class="flashcard-image" />
              <h2 *ngIf="currentCard.answer">{{ currentCard.answer }}</h2>
            </div>
            
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Progress Bar -->
    <ion-progress-bar [value]="(currentIndex + 1) / flashcards.length"></ion-progress-bar>


    <!-- Navigation Buttons -->
    <div class="navigation-buttons">
      <ion-button (click)="previousCard()" [disabled]="currentIndex === 0">
        Previous
      </ion-button>
      <ion-button (click)="nextCard()" [disabled]="currentIndex === flashcards.length - 1">

        Next
      </ion-button>
    </div>
  </div>
</ion-content>
