<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Back Button -->
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon color="primary" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Quizzes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDeleteMode()">
        <ion-icon [name]="deleteMode ? 'close-circle-outline' : 'trash-outline'" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/quiz-creator" *ngIf="!deleteMode">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- List of Quizzes -->
  <div *ngFor="let quiz of quizzes">
    <ion-card (click)="takeQuiz(quiz.id)" [ngStyle]="{'background-image': 'url(' + (quiz.backgroundImage || '/assets/fondocards.png') + ')'}">
      <ion-item lines="none">
        <ion-checkbox
          slot="start"
          *ngIf="deleteMode"
          (ionChange)="onSelectQuiz($event, quiz.id)"
          [checked]="selectedQuizzes.includes(quiz.id)">
        </ion-checkbox>

        <div>
          <h2>{{ quiz.title }}</h2>
          <p>{{ quiz.questions?.length || 0 }} Questions</p>
        </div>

        <!-- Removed Background Selection Option -->
      </ion-item>
    </ion-card>
  </div>

  <ion-button expand="block" shape="round" color="danger" *ngIf="deleteMode && selectedQuizzes.length > 0" (click)="deleteSelectedQuizzes()">
    Delete Selected
  </ion-button>

  <ng-template #noQuizzes>
    <p>No quizzes yet. Tap + to create one!</p>
  </ng-template>
</ion-content>
