<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon color="primary" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Quizzes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDeleteMode()">
        <ion-icon [name]="deleteMode ? 'close-circle-outline' : 'trash-outline'" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/quiz-creator" *ngIf="!deleteMode">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- Background change button -->
      <ion-button (click)="toggleBackgroundMenu()" *ngIf="!deleteMode">
        <ion-icon name="color-palette-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Background change menu -->
  <div *ngIf="backgroundMenuVisible" class="background-menu">
    <ion-button *ngFor="let bgImage of availableBackgrounds" (click)="changeBackground(bgImage)">
      <ion-img [src]="'/assets/' + bgImage" alt="background option" />
    </ion-button>
  </div>

  <div *ngIf="quizzes.length > 0; else noQuizzes">
    <div class="quiz-card-wrapper" *ngFor="let quiz of quizzes">
      <ion-card (click)="takeQuiz(quiz.id)" [ngStyle]="{'background-image': 'url(' + selectedBackground + ')'}">
        <ion-item lines="none">
          <ion-checkbox
            slot="start"
            *ngIf="deleteMode"
            (ionChange)="onSelectQuiz($event, quiz.id)"
            [checked]="selectedQuizzes.includes(quiz.id)">
          </ion-checkbox>

          <div>
            <h2>{{ quiz.title }}</h2>
            <p>{{ quiz.questions?.length || 0 }} Questions</p>
          </div>
        </ion-item>
      </ion-card>
    </div>
  </div>

  <ion-button expand="block" color="danger" *ngIf="deleteMode && selectedQuizzes.length > 0" (click)="deleteSelectedQuizzes()">
    Delete Selected
  </ion-button>

  <ng-template #noQuizzes>
    <p>No quizzes yet. Tap + to create one!</p>
  </ng-template>
</ion-content>
