<ion-app>
  <!-- Side Menu -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Menu content goes here -->
      <ion-list>
        <ion-item routerLink="/profile" routerDirection="root">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Profile
        </ion-item>
        <ion-item routerLink="/journals" routerDirection="root">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          Student Notes
        </ion-item>
        <ion-item routerLink="/todo" routerDirection="root">
          <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
          ToDo List
        </ion-item>
        <ion-item routerLink="/quiz-list" routerDirection="root">
          <ion-icon slot="start" name="bulb-outline"></ion-icon>
          My quizzes
        </ion-item>
        <ion-item routerLink="/planner" routerDirection="root">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          My Planner
        </ion-item>
        <ion-item routerLink="/home" routerDirection="root">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Home
        </ion-item>
        <ion-item routerLink="/statistics" routerDirection="root">
          <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
          Statistics
        </ion-item>
        <ion-item routerLink="/flashcard" routerDirection="root">
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          FlashCards
        </ion-item>
        <!-- Add more menu items here -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <!-- Menu Button to toggle the side menu -->
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>OrangeQuiz</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Router outlet to display the different pages -->
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
