<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Back Button -->
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon color="primary" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Quiz</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-button (click)="fileInput.click()">
    Upload quiz Json File
  </ion-button>
  
  <input
    #fileInput
    type="file"
    accept=".json"
    (change)="onFileSelected($event)"
    hidden
  />
</ion-item>

<ion-content class="ion-padding" scroll="true">
  <!-- Quiz Title Input -->
  <ion-item>
    <ion-input placeholder="Quiz title" [(ngModel)]="title" name="title"></ion-input>
  </ion-item>

  <!-- Question Card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add a Question</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Question Input -->
      <ion-item>
        <ion-input placeholder="Question" [(ngModel)]="newQuestion" name="newQuestion"></ion-input>
      </ion-item>

      <!-- Options with Radio Group -->
      <ion-radio-group [(ngModel)]="selectedAnswer" name="selectedAnswer">
        <ion-list>
          <!-- Option 1 -->
          <ion-item>
            <ion-label position="stacked">Option 1</ion-label>
            <ion-input placeholder="Enter option" [(ngModel)]="newOption1" name="newOption1"></ion-input>
            <ion-radio slot="end" [value]="0"></ion-radio>
          </ion-item>
          <!-- Option 2 -->
          <ion-item>
            <ion-label position="stacked">Option 2</ion-label>
            <ion-input placeholder="Enter option" [(ngModel)]="newOption2" name="newOption2"></ion-input>
            <ion-radio slot="end" [value]="1"></ion-radio>
          </ion-item>
          <!-- Option 3 -->
          <ion-item>
            <ion-label position="stacked">Option 3</ion-label>
            <ion-input placeholder="Enter option" [(ngModel)]="newOption3" name="newOption3"></ion-input>
            <ion-radio slot="end" [value]="2"></ion-radio>
          </ion-item>
          <!-- Option 4 -->
          <ion-item>
            <ion-label position="stacked">Option 4</ion-label>
            <ion-input placeholder="Enter option" [(ngModel)]="newOption4" name="newOption4"></ion-input>
            <ion-radio slot="end" [value]="3"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>

      <!-- Add Question Button -->
      <ion-button expand="block" shape="round" (click)="addQuestion()">Add Question</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Background Selection -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Select Quiz Background</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Choose Background</ion-label>
        <ion-select [(ngModel)]="selectedBackground" placeholder="Select Background" (ionChange)="changeBackground($event)">
          <ion-select-option *ngFor="let bg of availableBackgrounds" [value]="'/assets/' + bg">{{ bg }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Save Quiz Button -->
  <ion-button color="success" shape="round" expand="block" (click)="saveQuiz()">Save Quiz</ion-button>
</ion-content>
