ion-card-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  ion-content {
    height: 100%;
    overflow: auto;
  }
  .flashcard-image-preview {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-top: 10px;
    border-radius: 8px;
  }
  