.weather-card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ion-card {
  width: 600px; 
  max-height: 200px; 
  padding: 4px;
  border-radius: 20px;
  --ion-background-color: #f7ca6c;
  span {
    color: white;
    font-weight: 300;
  }
  #temp {
    font-weight: 300;
    font-size: 4em;
    margin: 5px;
  }
  
  #locationIcon {
    color: #f6b;
  }
  
  /* Correct the selector to target ion-label specifically */
  #date {
    color: white; /* Change color of the date */
  }
}

ion-item {
  --padding-start: 8px;
  --inner-padding-end: 8px;
  --min-height: 30px;
  font-size: 14px;
}

ion-item span, ion-item img {
  margin: 0 4px;
  font-size: 14px;
}
