<ion-content>
  <div class="weather-card-wrapper">
  <ion-card>
    <ion-item lines="none">
      <p>Today's Report</p>
      <ion-label slot="end">{{todayDate | date: "EEE dd MMM"}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <span>
      {{ (weatherTemp?.temp - 273.15).toFixed(0) }}
    </span>
    <span>°C</span>
    <img slot="end" [src]="weatherIcon" class="weather-icon">
    </ion-item>
    <ion-item>
      <ion-icon name="location"></ion-icon>
      <span>{{cityName}}</span>

    </ion-item>
  </ion-card>
</div>
</ion-content>

<ion-content>
  <div class="content">
    <ion-button expand="full" (click)="logout()">
      Logout
    </ion-button>
  </div>
</ion-content>
